glib-1.2.10
*.o
*.a
NoCatSplash-0.92/Makefile
NoCatSplash-0.92/config.log
NoCatSplash-0.92/config.status
NoCatSplash-0.92/nocat.conf
NoCatSplash-0.92/src/.deps/
NoCatSplash-0.92/src/Makefile
NoCatSplash-0.92/src/config.h
NoCatSplash-0.92/src/splashd
NoCatSplash-0.92/src/stamp-h1

mipsel-linux/glib/bin/
mipsel-linux/glib/include/
mipsel-linux/glib/info/
mipsel-linux/glib/lib/
mipsel-linux/glib/man/
mipsel-linux/glib/share/
mipsel-linux/nocatsplash/
